

#map {
    height: 100%;
}
#place-name{
  font-size: 40px;
  font-weight: bold;
  text-decoration: underline;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


#profile-btn{
  height:50px;
  width: 50px;
  background-color: white;
  border-radius: 50%;
}

#location-btn, #book-btn, #comment-btn{
  height: 50px;
  width: 50px;
  background-color: white;
  border: 1px solid gray;
  border-radius: 10%;
}

/* 
  * Optional: Makes the sample page fill the window. 
  */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}